@{
    ViewBag.Title = "About";
}
@*ViewBag title and message*@
<h2 class="text-center">@ViewBag.Title.</h2>
<h3 class="text-center">@ViewBag.Message</h3>

@*A more in depth description of the website than the home page message.*@
<p class="text-center">Welcome to the Wine Collection Database. This website provides registered users with access to our vast wine collection database with full customizational privileges. 
   To begin, all we ask is for an e-mail address. Once successfully registered, the beverages icon will appear at the top of the page and you will be allowed to 
   access our database. From there you will be able to view all of our wines currently listed. Our full on customization allows registered users to add new wines,
   delete wines, or update existing wines. Our filter function also allows the search for specific brands, packs, and prices.
     </p>
