@{
    ViewBag.Title = "Home Page";
}

@*Jumbotron bootstrap used for the Home page*@
<div class="jumbotron">
    <h1 class="text-center">Welcome To The Wine Collection Database</h1>
    <p class="text-center">
        @*Kept the home message short and sweet. The user can either sign in to view the database, register, or click about or contact for more info.*@
        This website allows you to view our entire wine collection database as well as add, update, or delete existing wines. Sign in or register
        to get started. Click About for more information.
    </p>    
</div>

@*Removed most of the stock code that was not needed for this assignment.*@