@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To The Wine Collection Database</h1>
    <p class="lead">This website allows you to view our entire wine collection database as well as add, update, or delete existing wines. Sign in or register
                    to get started.  </p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Customize Like Never Before</h2>
        <p>Add, delete, and update wines from our vast database to create the perfect wine collection.</p>
        
    </div>
</div>